.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
  margin: 15px;
  font-size: 39px;
  font-weight: 700;
  background-color: #deac5d;
  border: black 2px solid;
}
