.calc-wrapper {
  box-sizing: border-box;
  height: 500px;
  width: 500px;
  background-color: #b8860b;
  border-radius: 60px;
  border: 3px solid black;
  padding: 30px 40px;
}

.text-error {
  margin-left: 78px;
  color: red;
}
